<mat-toolbar class="nav" color="primary">
  <span class="navbar-brand">HTForum</span>
  <span class="spacer"></span>
  <div class="nav-right">
    <button mat-button class="btn-log" (click)="logout()">
      Logout
    </button>
  </div>
</mat-toolbar>

<div class="container text-center">
  <button mat-raised-button color="primary" class="justify-content-end" (click)="createPost()">
    Create Post
  </button>
  <div class="card-container">
    <mat-card class="example-card" *ngFor="let post of posts">
      <mat-card-header class="d-flex justify-content-between align-items-center">
        <div>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title [routerLink]="['/posts/', post._id]">
            {{ post.title }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ post.createdAt }}
          </mat-card-subtitle>
        </div>
        <div class="card-actions">
          <button mat-button [routerLink]="['/posts/', post._id]">
            Comment
          </button>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
</div>

