
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #25370b;
}

.nav-right {
  display: flex;
  align-items: center;
}


.container {
  position: relative;
  background-color: #e3e1da;
}

.search-container {
  position: absolute;
  top: 5px;
  right: 0;
  width: 200px;
}

.posts {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card {
  width: 100%;
  border-radius: 0;
}

.btncreate {
  background-color: #608054 !important;
  color: white !important;
  margin-bottom: 5px;
}

h1 {
  font-size: 24px;
}

.searcher {
  border-radius: 13px;
  border-color: #e3e1da;
}
