<mat-toolbar class="nav mb-2" color="primary">
  <span class="navbar-brand">HTForum</span>
  <span class="spacer"></span>
  <div class="nav-right">
    <button mat-button class="btn-log" (click)="profile()">
      Profil
    </button>
    <button mat-button class="btn-log" (click)="logout()">
      Odhlásit se
    </button>
  </div>
</mat-toolbar>
<div class="d-flex align-content-center justify-content-center">
  <div class="textMyslivost ">
    <h1>Myslivost</h1>
    <p>
      Myslivost je nejčastěji chápána jako zájmová, hospodářská a kulturní činnost mající v našich zemích velmi silnou
      tradici. Přestože její hlavní význam dnes tkví v krajinotvorné, ekologické, společensko-kulturní a rekreační
      funkci, nalezneme v jejích výstupech také velmi významný ekonomický efekt. Definovat stručně myslivost a
      postihnout zároveň celou její podstatu tak není vůbec snadné. Pravděpodobně nejširší pohled v sobě skrývá
      odpovídající pasáž Zákona o myslivosti, který pod tímto pojmem rozumí: "Soubor činností prováděných v přírodě ve
      vztahu k volně žijící zvěři jako součásti ekosystému a spolková činnost směřující k udržení a rozvíjení
      mysliveckých tradic a zvyků jako součásti českého národního kulturního dědictví."
    </p>
  </div>
</div>

<div class="container">
  <div class="search-container">
    <input class="searcher" type="text" [(ngModel)]="search" (ngModelChange)="filterPosts()"
           placeholder="Hledej příspěvky...">
  </div>

  <button class="btncreate" mat-raised-button (click)="createPost()">
    Nový příspěvek
  </button>

  <div *ngIf="posts" class="posts">
    <div class="post" *ngFor="let post of filterPosts()">
      <div class="card">
        <h1 (click)="moveToPost(post._id)" style="cursor: pointer;">{{ post.title }}</h1>
        <small>Od  {{ post.author?.username }}, {{ post.createdAt | date:'medium':'cs' }}</small>
      </div>
    </div>
  </div>
</div>
