.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 450px;
  margin: 0 auto;
}

.form-field {
  margin-bottom: 20px;
  width: 100%;
}

.login-button {
  width: 100%;
  margin-top: 20px;
}

.register-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.register-button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .login-form {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .login-form {
    width: 60%;
  }
}
