<mat-toolbar class="nav" color="primary">
  <span class="navbar-brand">HTForum</span>
  <span class="spacer"></span>
  <div class="nav-right">
    <button mat-button class="btn-log" (click)="home()">
      Domů
    </button>
    <button mat-button class="btn-log" (click)="profile()">
      Profil
    </button>
    <button mat-button class="btn-log" (click)="logout()">
      Odhlásit se
    </button>
  </div>
</mat-toolbar>

<form style="margin: 0 auto; width: 300px;" (ngSubmit)="createPost()">
  <div class="form-group">
    <mat-form-field>
      <mat-label>Název</mat-label>
      <input matInput [(ngModel)]="title" name="title">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Obsah</mat-label>
      <textarea matInput [(ngModel)]="content" name="content"></textarea>
    </mat-form-field>
  </div>
  <button mat-raised-button style="background-color: #608054; color: white; width: 200px; height: 50px; margin-top: 20px;" type="submit">Vytvořit příspěvek</button></form>
