<mat-toolbar class="nav mb-2" color="primary">
  <span class="navbar-brand">HTForum</span>
  <span class="spacer"></span>
  <div class="nav-right">
    <button mat-button class="btn-log" (click)="home()">
      Home
    </button>
    <button mat-button class="btn-log" (click)="profile()">
      Profile
    </button>
    <button mat-button class="btn-log" (click)="logout()">
      Logout
    </button>
  </div>
</mat-toolbar>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h3>{{ post.title }}</h3>
          <small>By {{ post.author?.username }}</small>
          <small class="float-right ms-1">{{ post.createdAt | date: 'medium' }}</small>
          <div class="float-right">
            <button class="btn btn-primary btn-sm mr-2" (click)="updatePost(post._id)">Update</button>
            <button *ngIf="(post.author._id === doc._id) || (doc.role === 'admin')" class="btn btn-danger btn-sm" (click)="deletePost(post._id)">Delete</button>
          </div>
        </div>
        <div class="card-body">
          <p>{{ post.content }}</p>
        </div>
        <div class="card-footer">
          <mat-form-field>
            <textarea matInput placeholder="Create a comment" [(ngModel)]="content"></textarea>
            <button mat-raised-button color="primary" (click)="createComment(content)">Create Comment</button>
          </mat-form-field>
          <ul class="list-unstyled">
            <li *ngFor="let comment of comments">
              <div class="media">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">{{ comment.author?.username }}</h5>
                  {{ comment.content }}
                  <div class="float-right">
                    <button *ngIf="(comment.author._id === doc._id) || (doc.role === 'admin')" class="btn btn-danger btn-sm" (click)="deleteComment(comment._id)">Delete</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
